.image-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.image-container img{
    width: 300px;
    height: 300px;
    margin: 20px 0px;
    cursor: pointer;
}
.link {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links{
    display: flex;
    justify-content: center;
  align-items: center;
}

.link:hover{
    color: aqua;
}

.link:hover::after {
    color: aqua;
    content: " (href)";
    
}
.invalid {
    border: 2px solid red;
}

#form{
    display:block;
    width: 200px;
    margin: 0 auto;
}

#firstName{
    margin-bottom: 20px;
}

#lastName{
    margin-bottom: 20px;
}

#age{
    margin-bottom: 20px;
}

.txt{
    margin-left: 40px;
}

#demo{
    width: 500px;
    margin-left: -80px;
}

button{
    width: 140px;
    height: 35px;
    border: 0;
    border-radius: 10px;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 17px;
    margin-left: 15px;
}