.first_group_images {
    display: flex;
    justify-content: center;
    align-items: center; /* Вирівнювання ссилок зверху */
}

.image-container {
    text-align: center; /* Центруємо текст ссилок під зображеннями */
}

.first_group_images img {
    border: 2px solid #000;
    margin-right: 10px;
}

a {
    text-decoration: none; 
    color: #000; 
}

a::after {
    content: " @Maksymchuk"; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

a:hover::after {
    opacity: 1; 
}

.form{
    justify-content: center;
    height: auto;
    width: 292px;
    padding: 5px;
    margin-left: 25px;
    border: 2px solid #000;
}

input[type="text"], input[type="number"] {
    text-align: right;
}
