body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #b6b6b6;
}

.images {
    display: flex;
    margin-left: 20%;
    padding: 10px;
    align-items: center;
}

.images img {
    width: 290px;
    height: 250px;
    margin: 5px;
}

.links {
    text-align: center;
    margin-top: 40px;
}

.links a {
    text-decoration: none;
    color: #0077b6;
    margin: 0 10px;
}

#form {
    margin: 10px 30% 10px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 500px;
}

#form label {
    text-align: center;
    display: block;
    margin-top: 10px;
}

#form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.btn{
    margin: 20px 10px 0 30%;
    width: 200px;
    height: 30px;
    background-color: #8fff79;
    cursor: pointer;
}

.btn:hover {
    background-color: #249715;
}

#demo{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}