body {
  background-color: #1c1c3a;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 20vw;
  height: 20vw;
  border: 3px white dashed;
  border-radius: 20px;
}

img:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.block {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

a {
  color: gray;
}
