.main img{
    width: 200px;
    height: 300px;
}
.images{
    display: flex;
    flex-direction: row;
}
#userForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
