body {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

#board {
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
}

.cell {
    position: relative;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}

.figure {
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}